@CHARSET "UTF-8";

#qna_page h2{
		font-weight: bold;
		font-size: 13px;
	}
	#qna_page h2 .mark22{
		font-size: 10px;
	}
	#qna_page table{
		margin-top:10px;
		width:100%;
		border-top:2px solid #333333; 
		margin-bottom: 30px;
	}
	#qna_page table tr{
		border-bottom: #d7d7d7 1px solid;
		padding:6px 5px;
		height:30px;
		line-height: 30px;
	}
	
	#qna_page table .td{
		background-color: #ebebeb;
		width:140px;
		padding:6px 0px 6px 20px;
		font-size: 13px;
		vertical-align: top;
	}
	
	#qna_page table td{
		padding: 5px 10px;
	}
	textarea{
		width:570px;
		height:200px;
		resize:none;
		margin-top: 10px;
	}
	#qna_page table td #title{
		width: 570px;
	}
	#qna_page table td input{
		width:150px;
		height:25px;
	}
	.f_bold{
		font-weight: bold;
	}
	#check_content{
		margin-top:10px;
		width:100%;
		height:120px;
		overflow-y: scroll;
		background-color: #f0f0f0;
		border:1px solid #f0f0f0;
		padding-left:10px;
		padding-bottom:10px;
		padding-top:10px;
		font-size: 13px;
		color:#9a9a9a;
	}
	#check_info p{
		font-size: 13px;
		text-align: center;
		margin-top: 5px;
	}
	button{
		height:30px;
		vertical-align:middle !important;
		border: 1px solid #5c5c5c;
		background:#fff;
		border-radius:2px;
		outline:none;
		font-size: 13px;
		padding-left:15px;
		padding-right:15px;
		cursor: pointer;
		font-weight: 600;
		color:black;
	}
	#btnGroup{
		margin-top:30px;
		text-align: center;
	}
	
	
	#preview {
	width: 100%;
	margin-top: 10px;
}

#preview_t {
	width: 100%;
}

#preview_t tr {
	height: 30px;
	border-bottom: 1px solid #ccc;
}

#preview_t th {
	vertical-align: middle !important;
	background: #333333;
	color: #ccc;
	text-align: center;
}

#preview_t, #preview_t th, #preview_t td, #preview_t tr {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

#preview_t td {
	color: #9a9a9a;
	text-align: center;
	height: 100px;
	vertical-align: middle !important;
}

.imgs {
	max-width: 100%;
	max-height: 250px;
}
#count{
	font-size: 13px;
}
#eselect{
	width:100px;
	font-size: 13px;
	height:25px;
}
#eselect option{
	font-size: 13px;
}
input,textarea{
	font-size: 13px;
}
#pw_info{
	margin-top: 10px;
}
#qna_content h2{
	float: left;
}
#require{
	float: right;
	margin-bottom: 10px;
}
#test{
	cursor: pointer;
	font-weight: bold;
	font-style: italic;
	margin-right: 10px;
}

.hiddenSpan{
	display: none;
}