@CHARSET "UTF-8";

#t{
		width:100%;
		border-top:2px solid #333333;
		font-size: 13px;
	}
	table tr{
		border-bottom: 1px solid #d7d7d7;
		height:30px;
		line-height: 30px;
		padding:5px 0px 5px 10px;	
	}
	table td{
		padding-left: 10px;
	}
	#title_tr{
		background: #ebebeb;
	}
	#title_tr #title{
		font-weight: bold;
	}
	#reply0,#reply1{
		color:black;
	}
	#reply0:HOVER{
		text-decoration: underline;
	}
	#reply1:HOVER{
		text-decoration: underline;
	}
	.reply{
		text-align: right;
		padding-right: 10px;
		font-size: 12px;
		font-weight: bold;
	}
	.s_font{
		font-size: 12px;
		color:gray;
	}
	#regdate{
		width:120px;
	}
	.text{
		padding:10px;
	}
	.text img{
		max-width:700px;
		margin-bottom: 5px;
	}
	#btnGroup{
		margin-top:7px;
		text-align: right;
	}
	#btnGroup a{
		display: inline-block;
	}
	#btnGroup a button{
		border:1px solid #5c5c5c;
		background: #fff;
		border-radius:2px;
		font-size: 12px;
		outline:none;
		cursor: pointer;
		padding:5px 10px;
	}
	#btnGroup a button:HOVER {
		background: #ebebeb;	
	}
	#answer_div{
		margin-top: 20px;
	}
	#answer_div table{
		width:100%;
		border-bottom: 2px solid #333333;
		border-top: 2px solid #333333;
	}
	#answer_div table #answertr{
		background: #ebebeb;
		font-size: 13px;
		font-weight: bold;
	}
	#answer_div table #answertr #answerdate{
		width:140px;
	}
	#answercontent{
		font-size: 13px;
	}
	#answerBtn{
		text-align: right;
		margin-top: 10px;
	}
	#answerBtn button{
		border:1px solid #5c5c5c;
		background: #fff;
		font-size: 12px;
		outline: none;
		padding:5px 10px;
		border-radius:2px;
	}