<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.AttendanceMapper">
	<select id="selectByMno" resultType="AttendanceVO">
		select * from attendance  where mno=#{mno} and date = #{date}
	</select>
	<select id="selectByMnoAndDate" resultType="AttendanceVO">
		select * from attendance where mno=#{mno} and date like CONCAT('%',#{date},'%')
	</select>
</mapper>