<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.ClassBoardMapper">
	<select id="selectByCno" resultType="ClassBoardVO">
		select * from classboard where cno = #{cno} 
		<include refid="search"></include>
		order by regdate desc,bno desc  
		limit #{cri.pageStart},15
	</select>
	<select id="countByCno" resultType="int">
		select count(*) from classboard where cno = #{cno}
		<include refid="search"></include>
	</select>
	<select id="read" resultType="ClassBoardVO">
		select * from classboard where bno = #{bno}
	</select>
	<update id="readCnt">
		update classboard set readcnt = #{readcnt} where bno = #{bno}
	</update>
	<insert id="insert">
		insert into classboard(cno,id,title,content,imgpath) values(#{cno},#{id},#{title},#{content},#{imgpath})
	</insert>
	<update id="update">
		update classboard set title = #{title}, content = #{content}, imgpath = #{imgpath} where bno = #{bno}
	</update>
	<delete id="delete">
		delete from classboard where bno = #{bno}
	</delete>
	<select id="selectByClass" resultType="ClassVO">
		select cno,level,time from class;
	</select>
	
	<insert id="insertReply">
		insert into classreply(bno,id,replytext) values(#{bno},#{id},#{replytext})
	</insert>
	<update id="updateReply">
		update classreply set replytext = #{replytext} where rno = #{rno}
	</update>
	<delete id="deleteReply">
		delete from classreply where rno = #{rno}
	</delete>
	<select id="replySelectByBno" resultType="ClassreplyVO">
		select * from classreply where bno = #{bno} order by rno desc
	</select>
	<sql id="search">
		<if test="cri.searchType =='titleandcontent'.toString()">
			and title like CONCAT('%',#{cri.keyword},'%') or content like CONCAT('%',#{cri.keyword},'%')
		</if>
		<if test="cri.searchType =='title'.toString()">
			and title like CONCAT('%',#{cri.keyword},'%')
		</if>
		<if test="cri.searchType =='writer'.toString()">
			and id like CONCAT('%',#{cri.keyword},'%')
		</if>
	</sql>
</mapper>