<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.ClassBoardMapper">
	<select id="selectByCno" resultType="ClassBoardVO">
		select * from classboard where cno = #{cno} order by regdate desc limit #{page},15
	</select>
	<select id="countByCno" resultType="int">
		select count(*) from classboard where cno = #{cno}
	</select>
	<select id="read" resultType="ClassBoardVO">
		select * from classboard where bno = #{bno}
	</select>
	<insert id="insert">
		insert into classboard(cno,id,title,content,imgpath) values(#{cno},#{id},#{title},#{content},#{imgpath})
	</insert>
	<update id="update">
		update classboard set title = #{title}, content = #{content}, imgpath = #{imgpath} where bno = #{bno}
	</update>
	<delete id="delete">
		delete from classboard where bno = #{bno}
	</delete>
	<select id="selectByClass" resultType="ClassVO">
		select cno,level,time from class;
	</select>
</mapper>