<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.MemberMapper">
	
	<select id="findMemberId" resultType="MemberVO">
		select * from member where id=#{id}
	</select>
	
	<select id="findMember" resultType="MemberVO">
		select * from member where name=#{name} and email=#{email}
	</select>
	
	<select id="findPw" resultType="MemberVO">
		select * from member where name=#{name} and email=#{email} and id=#{id}
	</select>
	<select id="findEmail" resultType="MemberVO">
		select * from member where email=#{email}
	</select>
	<select id="selectMemberPage" resultType="MemberVO">
		select * from member
		<include refid="search"></include>
		 order by mno desc limit #{cri.pageStart},15           
	</select>
	
	<select id="countByAll" resultType="int">
		select count(*) from member
		<include refid="search"></include>
	</select>
	
	<select id="selectMember" resultType="MemberVO">
		select * from member where id=#{id} and pw=password(#{pw})
	</select>
	
	<select id="selectMemberByMno" resultType="MemberVO">
		select * from member where mno=#{mno}
	</select>
	<select id="selectRegisterMember" resultType="MemberVO">
		select * from member where mno in (select mno from register where cno=#{cno})
	</select>
	<update id="updateIdPw">
		update member set id=#{id},pw=password(#{pw}) where mno=#{mno}
	</update>
	
	<update id="updatePw">
		update member set pw=password(#{pw}) where name=#{name} and email=#{email} and id=#{id}
	</update>
	<update id="chagePw">
		update member set pw=password(#{pw}) where id=#{id}
	</update>
	<update id="updateIsleave">
		update member set isleave = true where id=#{id}
	</update>
	<update id="updateEmailTell">
		update member set email=#{email},tell=#{tell} where id=#{id}
	</update>
	<sql id="search">
		<if test="cri.searchType =='name'.toString()">
		 where name like CONCAT('%',#{cri.keyword},'%')
		</if>
		<if test="cri.searchType =='id'.toString()">
		 where id like CONCAT('%',#{cri.keyword},'%')
		</if>
	</sql>
</mapper>