<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.NoticeBoardMapper">
	<select id="selectByAll" resultType="NoticeBoardVO">
		select * from notice order by regdate desc limit #{page},15
	</select>
	<select id="selectByMain" resultType="NoticeBoardVO">
		select * from notice order by regdate desc limit 0,5           
	</select>
	
	<select id="countByAll" resultType="int">
		select count(*) from notice
	</select>
	<select id="read" resultType="NoticeBoardVO">
		select * from notice where nno = #{nno}
	</select>
	<insert id="insert">
		insert into notice(title,content,imgpath) values(#{title},#{content},#{imgpath})
	</insert>
	<update id="update">
		update notice set title = #{title}, content = #{content}, imgpath = #{imgpath} where nno = #{nno}
	</update>
	
	<update id="updatecnt">
		update notice set readcnt = #{readcnt} where nno = #{nno}
	</update>
	
	
	
	<delete id="delete">
		delete from notice where nno = #{nno}
	</delete>
</mapper>