<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.QnaBoardMapper">
	<select id="selectByAll" resultType="QnaBoardVO">
		select * from qnaboard 
		<include refid="search"></include>
		order by regdate desc limit #{pageStart},15
	</select>
	<select id="countByAll" resultType="int">
		select count(*) from qnaboard
		<include refid="search"></include>
	</select>
	<select id="selectByBno" resultType="QnaBoardVO">
		select * from qnaboard where bno=#{bno}
	</select>
	<select id="read" resultType="QnaBoardVO">
		select * from qnaboard where bno = #{bno} and pw=password(#{pw})
	</select>
	<insert id="insert">
		insert into qnaboard(writer,title,content,imgpath,regdate,email,pw,id) values(#{writer},#{title},#{content},#{imgpath},now(),#{email},password(#{pw}),#{id})
	</insert>
	<update id="update">
		update qnaboard set title = #{title}, content = #{content} imgpath = #{imgpath} where bno = #{bno}
	</update>
	<update id="answerUpdate">
		update qnaboard set replycheck = true, answer = #{answer} , answerdate = now() where bno = #{bno}
	</update>
	<delete id="delete">
		delete from qnaboard where bno = #{bno}
	</delete>
	
	
	<sql id="search">
		<if test="searchType == 'noanswer'.toString()">
			where replycheck = false
		</if>
		<if test="searchType =='answer'.toString()">
			where replycheck = true
		</if>
		<if test="searchType =='writer'.toString()">
			where writer like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType =='title'.toString()">
			where title like CONCAT('%',#{keyword},'%')
		</if>
	</sql>
</mapper>