<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.TeacherMapper">
	
	<select id="findTeacherId" resultType="TeacherVO">
		select * from teacher where id=#{id}
	</select>
	
	<select id="selectTeacher" resultType="TeacherVO">
		select * from teacher where id=#{id} and pw = password(#{pw})
	</select>
	
	<select id="selectAll" resultType="TeacherVO">
		select * from teacher
	</select>
	
	<select id="select" resultType="TeacherVO">
		select * from teacher where title != #{title}
	</select>
	
	<select id="selectNo" resultType="TeacherVO">
		select * from teacher where tno = #{tno}
	</select>
	
	<update id="update">
		update teacher set img_path = #{img_path},tell = #{tell},info = #{info},title = #{title} where tno=#{tno}
	</update>
	
	<update id="updatePw">
		update teacher set pw=password(#{pw}) where id=#{id}
	</update>
	<update id="updateTell">
		update teacher set tell=#{tell} where tno=#{tno}
	</update>
	<update id="updateInfo">
		update teacher set info=#{info} where tno=#{tno}
	</update>
	<update id="updateImgpath">
	    update teacher set img_path=#{img_path} where tno=#{tno}
	</update>
</mapper>