@CHARSET "UTF-8";
#t {
	width: 100%;
	border-top: 2px solid #333333;
	border-bottom: 2px solid #333333;
}

#t .list_tr {
	border-bottom: 1px solid #d7d7d7;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}

#t .list_tr td {
	font-size: 13px;
	text-align: center;
}

#t #main_tr {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: white;
	background: #333333;
	text-align: center;
}

#t .list_tr:HOVER {
	background: #d7d7d7;
}

#t #main_tr #main_bno {
	width: 60px;
}

#main_regdate, #main_answer {
	width: 80px;
}

#paging {
	margin-top: 20px;
	text-align: center;
	height: 30px;
}

.pageNum {
	width: 24px;
	height: 25px;
	line-height: 25px;
	color: black;
	display: inline-block;
	border: 1px solid #ccc;
	font-size: 14px;
}

.pageNum:HOVER {
	background: #ebebeb;
}

#active {
	background: rgb(235, 235, 235);
}

	#search_div{
		margin-top:10px;
		width:100%;
		height:40px;
		line-height: 40px;
		color:#9a9a9a;
		font-size:13px;
		text-align:center;
		background: rgb(235,235,235);
	}
	#search_div img{
		margin-left:10px;
		vertical-align: middle;
	}
	.btn{
		border:1px solid #5c5c5c;
		background: white;
		font-size: 12px;
		outline: none;
		padding:5px 10px;
	}
	.btn:HOVER {
	background: #ebebeb;
}
#header_title{
	margin-bottom: 20px !important;
}
#btn_group{
	text-align: right;
	margin-bottom: 10px;
}
#sel{
		width:90px;
		height:20px;
		margin-bottom: 10px;
}
#searchBtn{
		cursor: pointer;
	}