@CHARSET "UTF-8";

.info_title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.info_title .mark {
	font-size: 12px;
}

.t_title {
	width: 140px;
	background: #ebebeb;
	color: black !important;
}

#update_t {
	margin-top: 20px;
}

#basic_t table, #update_t table {
	width: 100%;
	border-top: 2px solid #333333;
	font-size: 13px;
}

#basic_t table tr, #update_t table tr {
	border-bottom: 1px solid #d7d7d7;
	height: 25px;
	line-height: 25px;
}

#basic_t table tr td, #update_t table tr td {
	color: gray;
	padding: 6px 0px 6px 10px;
}

#update_t table tr td #tell1, #tell2, #tell3 {
	width: 100px;
	height: 23px;
	line-height: 23px;
}

#update_t table tr td #email1, #email2 {
	width: 150px;
	height: 23px;
	line-height: 23px;
}

#sel {
	width: 100px;
	height: 29px;
}

#btnGroup {
	margin-top: 20px;
	text-align: center;
}

button {
	border: 1px solid #5c5c5c;
	border-radius: 2px;
	background: #fff;
	font-size: 12px;
	outline: none;
	padding: 5px 10px;
	height: 30px;
}

button:HOVER {
	background: #ebebeb;
}